# Database Settings
DB_NAME=""
DB_USER=""
DB_HOST=""
DB_PASSWORD=""

# App Settings
APP_DEBUG_MODE=True
APP_HOST="0.0.0.0"


# Email SMTP Settings
mail_host="smtp.XXX.com"
mail_user="XXXX"
mail_pass="XXXXXX"